body {
    font-family: 'Raleway', sans-serif;
}

.menu {
    display: flex;
    height: 5px;
    justify-content: flex-end;
    margin: auto;
    padding: 10px;
}

.menu a {
    text-decoration: none;
    padding: 50px;
    color: black;

}

ul {
    list-style-type: none;
    }

.title {
    font-family: 'Bangers', cursive;
    font-size: 100px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
    padding: 25px;
}

.section-one {
    height: 150px;
    background-color: white;
}

.section-two {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: yellowgreen;
}

#button-wrapper {
    height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    display: flex;
    justify-items: center;
    float: left;
    justify-content: center;
    margin-left: 20px;
}


.section-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 600px;
    background-color: white;
}

.poster {
    margin: 20px;
    height: 500px;
    width: 400px;
    display: flex;
    float: left;

}

img {
    height: 500px;
    width: 400px;
}

.posterinfo {
    margin-top: 100px;
    width: 400px;
    height: 500px;
}

.postertext {
    margin-top: 100px;
    margin-left: 100px;

}